 <body>
 
 
 
 
 <nav class="navbar navbar-expand-sm tt">
  <a class="navbar-brand" href="#">
    <img class="success" src = "/assets/images/store.png"  height="50px">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" href="#">Team Kits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" disabled ="disabled" href="#">Soccer Boots  </a>
      </li>
    </ul>
    <span >
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Product" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 y" type="submit">Search</button>
      </form>
    </span>
  </div>
</nav>



<div class="Cointainer" >
  <router-outlet></router-outlet>
</div> 


</body>


